:root {
  --pretty-modal-modal-container-background-color: #202020;
  --pretty-modal-modal-container-border-radius: 10px;
  --pretty-modal-modal-container-padding: -60px;
}

html,
body {
  overflow-x: hidden;
}

.VideoSection {
  width: 100%;
  height: 850px;
}

@media screen and (max-width: 880px) {
  .VideoSection {
    width: 100%;
    height: 380px;
  }
}

.NavbarLinks {
  color: #fff;
}

.NavbarLinks:hover {
  color: #3eb8b4;
}

.textDemo {
  text-align: justify;
}

.ImagePlan {
  width: 500px;
  height: 270px;
}

@media screen and (max-width: 880px) {
  .ImagePlan {
    width: 270px;
    height: 170px;
  }
}

.textBlock {
  position: absolute;
  color: #000;
}

/* PRICING */

.cardx {
  border: none;
  padding: 10px 50px;
  border-radius: 10px;
  background-color: #202020;
  border: 1px solid #3eb8b4;
}

.cardx::after {
  position: absolute;
  z-index: -1;
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.cardx:hover {
  transform: scale(1.02, 1.02);
  -webkit-transform: scale(1.02, 1.02);
  backface-visibility: hidden;
  will-change: transform;
  /* box-shadow: 0 1rem 3rem  !important; */
  box-shadow: 1px 1px 21px 3px rgba(62, 184, 180, 0.75);
  -webkit-box-shadow: 1px 1px 21px 3px rgba(62, 184, 180, 0.75);
  -moz-box-shadow: 1px 1px 21px 3px rgba(62, 184, 180, 0.75);
}

.cardx:hover::after {
  opacity: 1;
}

/* prrojects */

.projectsCard {
  background-color: #202020;
  color: #cfcfcd;
  width: 18rem;
  border-radius: 10px;
}

.projectsCard:hover {
  transform: scale(1.02, 1.02);
  -webkit-transform: scale(1.02, 1.02);
  backface-visibility: hidden;
  will-change: transform;
  /* box-shadow: 0 1rem 3rem #166c67 !important; */
  box-shadow: 8px 4px 28px 6px rgba(62, 184, 180, 0.56);
  -webkit-box-shadow: 8px 4px 28px 6px rgba(62, 184, 180, 0.56);
  -moz-box-shadow: 8px 4px 28px 6px rgba(62, 184, 180, 0.56);
}

.investingPictures {
  height: 200px;
  max-width: 290px;
  border-radius: 10px 10px 0 0;
}

/* contact us */
.imageContact {
  max-height: 850px;
  width: 450px;
}

@media screen and (max-width: 880px) {
  .imageContact {
    width: 400px;
    height: 570px;
  }
}

/* testimonials */

.shadowText {
  color: #3eb8b4;
  text-shadow: 4px 4px #000;
}

.backgroundImage {
  background-image: url(./Components/SourceFiles/Images/hands.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 400px;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* .bodyx {
  background-color: #070b0e;
} */

.partnerCard {
  background-color: #202020;
  border-radius: 10px;
  box-shadow: -11px 19px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -11px 19px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -11px 19px 5px 0px rgba(0, 0, 0, 0.75);
}
.card-title {
  color: #cfcfcf;
}

/*** reviews ***/
.testimonial-carousel .owl-item .testimonial-item {
  position: relative;
  transition: 0.5s;
}

.testimonial-carousel .owl-item.center .testimonial-item {
  box-shadow: 0 0 45px rgba(0, 0, 0, 0.08);
  animation: pulse 1s ease-out 0.5s;
}

.testimonial-carousel .owl-dots {
  display: flex;
  align-items: center;
  justify-content: center;
}

.testimonial-carousel .owl-dot {
  position: relative;
  display: inline-block;
  margin: 0 5px;
  width: 15px;
  height: 15px;
  background: var(--primary);
  border: 5px solid var(--light);
  border-radius: 15px;
  transition: 0.5s;
}

/* heading of projects */

.bgheading {
  background-color: #3eb8b4;
  height: 350px;
  margin-top: 5em;
}

@media screen and (max-width: 880px) {
  .bgheading {
    background-color: #3eb8b4;
    height: 550px;
  }
}

.headingtext {
  padding-top: 100px;
}

/* modal of register */

.form-input {
  position: relative;
}

.icon {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 25px;
  color: #202020;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  cursor: pointer;
  font-size: 18px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
