.VideoSection {
  width: 100%;
  height: 600px;
}

@media screen and (max-width: 880px) {
  .VideoSection {
    height: 400px;
    width: 390px;
  }
}

.NavbarLinks {
  color: #fff;
}

.NavbarLinks:hover {
  color: #3eb8b4;
}

.btn-danger,
.btn-danger:active,
.btn-danger:visited {
  background-color: #3eb8b4 !important;
}
.btn-danger:hover {
  background-color: #000 !important;
}

.description {
  color: #3eb8b4;
}

html,
body {
  overflow-x: hidden;
}

.textDemo {
  text-align: justify;
}

.ImagePlan {
  width: 500px;
  height: 270px;
}

@media screen and (max-width: 880px) {
  .ImagePlan {
    width: 270px;
    height: 170px;
  }
}

.containerx {
  position: relative;
}

.textBlock {
  position: absolute;
  /* bottom: 280px;
  right: 20px; */
  /* background-color: black; */
  color: #000;
  /* padding-left: 20px;
  padding-right: 20px; */
}

/* PRICING */

.cardx {
  border: none;
  padding: 10px 50px;
  border-radius: 10px;
  background-color: #202020;
  border: 1px solid #3eb8b4;
}

.cardx::after {
  position: absolute;
  z-index: -1;
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.cardx:hover {
  transform: scale(1.02, 1.02);
  -webkit-transform: scale(1.02, 1.02);
  backface-visibility: hidden;
  will-change: transform;
  /* box-shadow: 0 1rem 3rem  !important; */
  box-shadow: 1px 1px 21px 3px rgba(62, 184, 180, 0.75);
  -webkit-box-shadow: 1px 1px 21px 3px rgba(62, 184, 180, 0.75);
  -moz-box-shadow: 1px 1px 21px 3px rgba(62, 184, 180, 0.75);
}

.cardx:hover::after {
  opacity: 1;
}

/* prrojects */

.projectsCard {
  background-color: #202020;
  color: #cfcfcd;
  z-index: 1000;
}

.projectsCard:hover {
  transform: scale(1.02, 1.02);
  -webkit-transform: scale(1.02, 1.02);
  backface-visibility: hidden;
  will-change: transform;
  /* box-shadow: 0 1rem 3rem #166c67 !important; */
  box-shadow: 8px 4px 28px 6px rgba(62, 184, 180, 0.56);
  -webkit-box-shadow: 8px 4px 28px 6px rgba(62, 184, 180, 0.56);
  -moz-box-shadow: 8px 4px 28px 6px rgba(62, 184, 180, 0.56);
}

.imageContact {
  max-height: 400px;
  width: 400px;
  margin-top: 70px;
}

@media screen and (max-width: 880px) {
  .imageContact {
    width: 400px;
    height: 570px;
  }
}

.backgroundImage {
  background-image: url(./Components/SourceFiles/hands.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 400px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.investingPictures {
  height: 200px;
  max-width: 290px;
  border-radius: 10px 10px 0 0;
}

.headx {
  color: #3eb8b4;
}

.bodyx {
  background-color: #070b0e;
}

.fontx {
  color: #cfcfcf;
}
.partnerCard {
  background-color: #202020;
  border-radius: 10px;
  box-shadow: -11px 19px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -11px 19px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -11px 19px 5px 0px rgba(0, 0, 0, 0.75);
}
.card-title {
  color: #cfcfcf;
}
.shadowText{
  color: #3EB8B4;
  text-shadow: 4px 4px #000;
}

/*** Testimonial ***/
.testimonial-carousel .owl-item .testimonial-item {
  position: relative;
  transition: .5s;
}

.testimonial-carousel .owl-item.center .testimonial-item {
  box-shadow: 0 0 45px rgba(0, 0, 0, .08);
  animation: pulse 1s ease-out .5s;
}

.testimonial-carousel .owl-dots {
  display: flex;
  align-items: center;
  justify-content: center;
}

.testimonial-carousel .owl-dot {
  position: relative;
  display: inline-block;
  margin: 0 5px;
  width: 15px;
  height: 15px;
  background: var(--primary);
  border: 5px solid var(--light);
  border-radius: 15px;
  transition: .5s;
}

.testimonial-carousel .owl-dot.active {
  background: var(--light);
  border-color: var(--primary);
}

.bgheading{
  background-color: #3EB8B4;
  height: 400px;
  z-index: -10;
}
.headingtext{
  z-index: 10;
  padding-top: 160px;
}